<h1><%= @restaurant.name %></h1>
  <div class="card-pick">
    <img src="https://picsum.photos/500" alt="">
    <div class="card-pick-info">
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.category.capitalize %></p>
    </div>
  </div>
